.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 70px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
    height: 50%;
    border-radius: 30px;
    color: black;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 10px;
    width: 100px;
    height: 30px
}
/* Overall form styling */
.popup-form {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    max-width: 350px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
    margin-bottom: '10px';
}

/* Style for each label */
.popup-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}


/* Style for the submit button */
.popup-form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 15px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
}

.popup-form input[type="submit"]:hover {
    background-color: rgb(51, 51, 51);
}
